
.footer {
  background-color: #1d2326;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px;
  gap: 40px;
}


.footer-section {
  flex: 1;
}


.footer-logo {
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  color: white;
  margin-bottom: 15px;
  border-left: none;
  padding-left: 0;
}


.footer-section p {
  font-size: 1.1rem;
  line-height: 1.5;
}


.footer-center {
  text-align: center;
}


.footer-center h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}


.footer-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #e2c2b0;
  font-size: 1.8rem;
}


.footer-right {
  text-align: center;
}


.footer-script {
  font-family: "Great Vibes", cursive;
  font-size: 2rem !important;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;    
    text-align: center;          
    
    padding: 35px 25px;         
  }

  .footer-icons {
    gap: 20px;                
  }

  .footer-script {
    font-size: 1.6rem !important;
  }
}